/* Lookbook DESC flip */
ol, ul {
    list-style: none outside none;
}
.preview {
	position:relative;
}
.article-over {
	position:absolute;
	left:0;
	top:0;
	padding:15px;
	cursor: pointer;
	text-align: center;
}
.article .article-over {
	display:none;
}
.article:hover .article-over {
	display:block;
}
li.article {
    margin-bottom: 15px;
    position: relative;
}
.li_cont1, .li_cont2 {
    margin-right: 15px;
}
li.article h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 15px;
}
p {
    color: #000000;
    font-size: 11px;
    margin-bottom: 15px !important;
}
.li_container .article:hover img {
    opacity: 0.1;
}
li.article h2 a {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none !important;
}
Xa:link, a:visited {
    color: #000000;
    font-size: 9px;
    text-decoration: none;
}

/*Slider PREV-NEXT buttons */
.template-page .slider .owl-prev:before {
    content: "\e61a";
}
.template-page .slider .owl-next:before {
    content: "\e61b";
}
.template-page .slider .owl-prev {
    margin: -80px 0 0 -80px;
}

.template-page .slider .owl-prev {
    left: 0;
    margin: -80px 0 0 50px;
}
.template-page .slider .owl-prev, .template-page .slider .owl-next {
    font-size: 70px;
}
.template-page .slider .owl-next {
    margin: -80px -80px 0 0;
}
.template-page .slider .owl-next {
    margin: -80px 50px 0 0;
    right: 0;
}
.template-page .slider .owl-prev, .template-page .slider .owl-next {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #EBEBEB;
    font-family: 'blockshop-icons';
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    opacity: 0.8;
    position: absolute;
    text-transform: none;
    top: 50%;
}
.template-page h1.page-title {
    font-size: 1em;
    text-transform: uppercase;
}