body {
	font: 12px "Open Sans", Arial, Helvetica, sans-serif;
	color: #3f3f3f;
}

.clr{
	clear:both;
}
.space_height{
	height: 25px;
}


/* wrapper */
#wrapper {
	width: 985px;
	margin: 0 auto;
}

/* top navigation*/
#user-background {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
	height: 125px;
	/*width: 1950px;*/
}

#usermenus {
	/*background-color: #ececec;*/
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
	height: 80px;
	width: 990px;
}

#logo {
	float:left;
}

#logo img {
	/*height: 50px;
	width: 270px;*/
	margin-left: 12px;
	margin-top: 12px;
}

#menus {
	float: right;
	/*height: 100px;
	width: 450px;
	margin-top: -70px;
	margin-right: 12px;*/
}

.user {
	float: right;
    margin-right: 8px;
    padding-top: 12px;
}

.user li {
	display: inline;
	padding: 0 5px;
	border-right: 1px solid #ccc;
	text-align: center;
}

.user li:last-child {
	border-right: none;
}

.user li a {
	text-decoration: none;
	color: #969696;
}

.user a:hover {
	color: #6b6b6b;
}
/*#session-menu{
	float:right;
}*/
#contact-menu{
	float:right;
	position: relative;
	/*top: 40px;*/
	right: 9px;
}

#contact-menu p {
	display: inline;
	padding-left: 0px;
	font-size: 22px;'
	font-family:'Open Sans Condensed', Arial, sans-serif;
	color: #969696;
}

#contact-menu ul {
	/*margin-top: 9px;
	margin-left: 80px;*/

	margin-top: -7px;
	margin-left: 55px;
}

#contact-menu ul li {
	display: inline;
	list-style-type: none;
	padding-left: 11px;
	float: right;
}


#contact-menu ul img {
	margin-top: -10px;
}

/* second top navigation */
#navigation-section {
	height: 70px;
	width: 980px;
}

#border-yellow {
	background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #febf01 0%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
	height: 3px;
	border-radius: 3px;
	margin-top: -20px;
}

#base-content {
	/*border: 1px solid #000;*/
	margin-top: -18px;
	overflow: hidden;
    width: 100% !important;
}

/* product list menu */
#nav-list {
	width: 210px;
	margin-top: 3px;
	float: left;
}

.nav-product {
	float: left;
	list-style-type: none;
	font-size: 11px;
	font-weight: bold;
	font-family: "Open sans-serif", Arial, Helvetica;
}

.nav-product li.blue {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,1) 0%, rgba(125,185,232,1) 0%, rgba(41,137,216,1) 67%, rgba(32,124,202,1) 84%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(67%,rgba(41,137,216,1)), color-stop(84%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
	border-radius: 3.5px;
	color: #fff;
}

.nav-product li.blue p {
	padding: 2px 2px 2px 12px;
}

.nav-product li {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	width: 210px;
	height: 28px;
	margin: 0;
	margin-left: -40px;
	padding: 3px 0;
	padding-top: 5px;
}

.nav-product a {
	color: #000;
	padding: 2px 2px 2px 17px;
	display: block;
}

.nav-product a:hover {
	color: #3db4fe;
	text-decoration: none;
}

/* homepage content */
#grey-border {
background: rgb(30,87,153);
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 0%, rgba(125,185,232,1) 0%, rgba(41,137,216,1) 67%, rgba(32,124,202,1) 84%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(67%,rgba(41,137,216,1)), color-stop(84%,rgba(32,124,202,1)));
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%);
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%);
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%);
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 );
	height: 10px;
	width: 761px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 6px;
	margin-top: 3px;
	float:right;
	margin-bottom: -1px;
}

#homepage-content-border {
	border: 1px solid #e7e7e7;
	width: 763px;
	overflow: hidden;
	margin-top:2px;
	margin-left: 217px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#homepage-carousel {
	margin-left: 5px;
	margin-top: 5px;
}

#title-tab-container{
	margin-bottom: -1px;
}

/*buttons!*/
.but-yellow {
	background: url(images/bg-button.png) no-repeat right top;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	height:48px;
	line-height:50px;
	border:none;
	width:204px;
	color:#ffffff;
	float:left;
	margin-left:-5px;

}

.but-yellow {
	text-align: center;
}

.but-yellow:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebb000), color-stop(1, #febf01) );
	background:-moz-linear-gradient( center top, #ebb000 5%, #febf01 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebb000', endColorstr='#febf01');
	background-color:#ebb000;*/
	background: url(images/bg-button.png) no-repeat right -62px;
	text-decoration: none;
	color:#fff;
}

a#btn_template{
	color:#fff;
}

.topmargin{
	margin-top:25px;
	margin-bottom:15px;
}

.but-blue {
	-moz-box-shadow: 2px 2px 3px -1px #a8a8a8;
	-webkit-box-shadow: 2px 2px 3px -1px #a8a8a8;
	box-shadow: 2px 2px 3px -1px #a8a8a8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2496dc), color-stop(1, #2088c4) );
	background:-moz-linear-gradient( center top, #2496dc 5%, #2088c4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2496dc', endColorstr='#2088c4');
	background-color:#2496dc;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:170px;
	text-decoration:none;
	text-align:center;
}

.but-blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2088c4), color-stop(1, #2496dc) );
	background:-moz-linear-gradient( center top, #2088c4 5%, #2496dc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2088c4', endColorstr='#2496dc');
	background-color:#2088c4;
}

.but-blue:active {
	position:relative;
	top:1px;
}

/* This button was generated using CSSButtonGenerator.com */
/*end buttons*/
.reg-form{

	width:200px;
}

.navbar-form {
	float: right;
    margin-left: 205px;
    margin-top: -5px;
    width: 200px;
}

#column-one {
	border-right: 1px solid #e7e7e7;
	height: 375px;
	width: 250px;
	margin-top: 25px;
	float: left;
	margin-bottom: 10px;
	margin-left:5px;
}

#column-one strong {
	font-size: 18px;
	font-weight: 100;
	margin-left:5px;
}

#column-one #one-box {
	margin-top: 15px;
	margin-right: 12px;
	margin-left: -2px;
}

#column-one #one-box img {
	width: 120px;
	height: 120px;
	float: left;
	border-radius: 5px;
	margin-left: 13px;
	margin-right: 6px;
}

#column-one #one-box p {
	text-align: left;
	margin-right: -6px;
}

#column-one #one-box a {
	color: #f79524;
	font-weight: bold;
}

#column-one #one-box a:hover {
	color: #3db4fe ;
}

#column-one #imgbox {
	margin-left:8px;
	margin-top: 15px;
}

#column-one #imgbox img {
	width: 225px;
	height: 129px;
	border-radius: 5px;
}

#column-one #imgbox span {
	color: #f79524;
	font-weight: bold;
}

#column-one #imgbox span:hover {
	color: #3db4fe;
}

/* footer */
#footer {
	border-top: dotted 1px #999;
	padding-top: 5px;
	margin: 20px 0;
	width: 980px;
}

#footer div {
	display: block;
}

.site-item {
	float: left;
	margin: 5px 39px 10px 0;
}
.site-item:nth-child(6){
	float: right;
	margin: 5px 0 10px 0 !important;
	width: 280px;
}
.site-item:nth-child(6) p{
	width: 100%;
}
.site-item:nth-child(6) .offers{
	margin-top: 15px;
}
.email-submit{
	padding: 5px 7px !important;
    width: 191px !important;
    margin-top: -3px;
}
/*End edit*/

.site-item div {
	min-width: 90px;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: dotted 1px #999;
	font-weight: bold;
	color: #717171;
	margin-bottom: 5px;
}

.site-item ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-item ul li {
	padding: 3px 0;
}

.site-item li {
	display: list-item;
}

.site-item p {
	display: block;
}

.site-item .thumb img{
	width: 15px;
	height: 15px;
}

#enter-email {
	border-bottom: none;
}

#footer-bottom {
	border-top: dotted 1px #999;
	clear: both;
	padding: 10px 0 0;
}
#image-left img {
	height: 60px;
}

#image-center {
	float: left;
	padding-top: 5px;
	text-align: center;
	margin-top: -65px;
	margin-left: 260px;
}

#image-right {
	float: right;
	text-align: right;
	margin-top: -63px;
}

#image-right img {
	height: 60px;
}

#footer-legal {
	margin-top: 12px;
}

#footer-legal p {
	clear: both;
	font-size: 12px;
	color:#969696;
}

/*Bootstrap codes*/
.navbar-default{background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */border-color:#D6D6D6;}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 25%, rgba(248,181,0,1) 100%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(25%,rgba(252,205,77,1)), color-stop(100%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */;color: #fff;}


.title-header {
	font-size: 25px;
	font-weight: bold;
	background:url(images/bg-title.png);
	height: 53px;
	padding-left: 15px;
	padding-top: 7px;
}

#tab-container{
	float: right;
	position:relative;
	margin-top:  -39px;
}

#price-started-pin-container{
	overflow: hidden;
	float:left;
	/*padding-top:15px;*/
	margin: 7px;
	width:737px;
}

#specs-content , #tech-content , #application-content {
	margin: 15px 10px 10px 12px;
}

#price-options{
	float: left;
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 300px;
	overflow: hidden;
	margin: 15px 15px -3px 15px;
}

.form-group {
	margin-bottom:-8px;
}

.form-group select{
	margin-top:7px;
}

#form-container {
	margin:0px 5px 10px 5px;
    width: 100% !important;
}

#started-pin-container{
	float: right;
	width: 370px;
	height: 450px;
	margin: 15px;
}

#started{
	width: 370px;
	height: 220px;
}

#get-started {
	padding-bottom: 25px;
}

#pinterestBox{
	width: 370px;
	height: 200px;
}

.title-header-tab {
	font-size: 25px;
	font-weight: bold;
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(99%,rgba(229,235,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#e5ebee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	width: 762px;
	padding-left: 15px;
	padding-bottom: 5px;
	float:left;
}

.title-subheader-tab {
	font-size: 15px;
	font-weight: bold;
	background:url(images/bg-caltitle.png);
	width: 300px;
	padding-left: 15px;
	float:left;
	margin-top:-2px;
	margin-bottom: 10px;
}

#foursquare-details {
	margin: 10px;
}

#content-cushion {
	position: relative;
	top: -1px;
}

.carousel-control {
}

.yellow-border-box{
	overflow: hidden;
	width: 270px;
	border: 1px solid #E0B233;
	padding: 5px;
}

#about h2 {
	font-size: 19px;

}

#about  {
	margin: 12px 12px 12px 12px;
}

#client-image {
	margin-left: 5px;
}

/* login */
.login-content {
	margin-left: 20px;
	margin-bottom: 12px;
}

/*register*/
.register-content {
	margin-left: 20px;
}

/*contact*/
.contact-content {
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 12px;
}

#contact-us {
	width: 400px;
}

.contact-content strong {
	font-size: 14px;
 }

/*.contact-content img {
	width: 325px;
}*/

#contact-right {
	float: right;
	margin-top: -91px;
	margin-right: 115px;
}

#contact-title {
	margin-top: 25px;
	font-weight: bold;
}

.mail-form .require {
	color: #ff0000;
}

/* order table -- http://tablestyler.com/ */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 3px;
    font: 12px/150% Arial,Helvetica,sans-serif;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-top: 8px;
    overflow: hidden;
    width: 738px;
}
.datagrid table td, .datagrid table th { padding: 10px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div {}
.datagrid table tfoot td { padding: 0; font-size: 12px; border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    font-size: 12px;
    padding: 7px 0; }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a {
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #666666;
    display: inline-block;
    margin: 1px;
    padding: 4px 10px;
    text-decoration: none;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}

.datagrid table tbody td .view-invoice {
	font-weight: bold;
	color: #000;
}

/**/
.datagrid2 table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid2 {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff;
	overflow: hidden; width: 720px; margin-top: 8px; margin-left: 20px; margin-bottom: 12px;}
.datagrid2 table td, .datagrid2 table th { padding: 10px 10px; }
.datagrid2 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; }
.datagrid2 table thead th:first-child { border: none; }
.datagrid2 table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
.datagrid2 table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
.datagrid2 table tbody td:first-child { border-left: none; }
.datagrid2 table tbody tr:last-child td { border-bottom: none; }
.datagrid2 table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;}
.datagrid2 table tfoot td { padding: 0; font-size: 12px }
.datagrid2 table tfoot td div{ padding: 2px; }
.datagrid2 table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid2 table tfoot  li { display: inline; }
.datagrid2 table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;
	border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; }
.datagrid2 table tfoot ul a.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#207CCA;
	border-color: #207CCA;
}
.datagrid table tfoot li a.active{
	background-color:#207CCA;
	border-color: #207CCA;
	font-weight: bold;
	color: white;
}

.datagrid2 table tbody td .view-invoice {
	font-weight: bold;
	color: #000;
}
/**/


/* address book */
.datagrid table tbody td .address-edit {
	font-weight: bold;
	color: #000;
}
/* end address book */

.datagrid table tbody td a:hover {
	color: #333333;
}

.status-btn {background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 25%, rgba(248,181,0,1) 100%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(25%,rgba(252,205,77,1)), color-stop(100%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 25%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */;color: #000;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

.view-proof {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,1) 0%, rgba(125,185,232,1) 0%, rgba(41,137,216,1) 67%, rgba(32,124,202,1) 84%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(0%,rgba(125,185,232,1)), color-stop(67%,rgba(41,137,216,1)), color-stop(84%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(125,185,232,1) 0%,rgba(41,137,216,1) 67%,rgba(32,124,202,1) 84%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

/* account settings */
#account-settings {
	margin: 12px 12px 12px 12px;
}

#subscription {
	margin-top: 15px;
}

#subscription img {
	margin-top: -19px;
	margin-left: -15px;
}

.accnt-labels {
	font-weight: bold;
}

.accnt-labels span {
	color: #dc0000;
}

.btn-action {
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#FAQ {
	margin-left: 12px;
	margin-bottom: 12px;
}

#QA {
	margin: 12px 12px 12px 12px;
}

/* product page */
.product-title-header {
	font-size: 21px;
	font-weight: bold;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 57%, rgba(237,237,237,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(57%,rgba(243,243,243,1)), color-stop(100%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	width: 761px;
	height: 50px;
	padding-left: 15px;
	padding-top: 10px;
}

.tabbed-panels-group {
	float: right;
	margin:0px;
	padding:0px;
}

.tabbed-panels-group li {
	margin-right: 5px;
}

.tabbed-selected {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	border-color: #CFCFCF;
	border-style: solid solid none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#tabbed-panels-tab {
	position: relative;
	top: -28px;
	float: left;
	padding:4px 12px;
	list-style: none;
	cursor: pointer;
}

#foursquare-details{
	/*margin-top: 35px;*/
}

#foursquare-details img{
	width: 725px;
}

#foursquare-details p{
	margin: 12px 12px 12px 12px;
}

#product-detail-shadow {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 57%, rgba(237,237,237,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(57%,rgba(243,243,243,1)), color-stop(100%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 761px;
	height: 50px;
	float: right;
	margin-top: -430px;
	margin-top: 12px;
}

#detail-slider {
	margin-top: 28px;
	margin-left: -28px;
}

.detail-list {
	margin-left: 0px;
	width: 89px;
	list-style: none;
	font-size: 12px;
	margin: 2px 2px 2px 2px;
	font-weight: bold;
}

.detail-selected a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #CFCFCF;
	border-bottom: none;
	background-color: #fff;
	padding:4px 9px 5px 10px;
}

#product-technical p{
	margin: 15px 10px 10px 10px;
}

#product-carousel {
	margin-left: 5px;
}

/* product-templates*/
#product-templates {
	margin:12px 12px 12px 10px;
}

#product-templates h1 {
	font-size: 16px;
	font-weight: bold;
}

#product-templates h2 {
	font-size: 14px;
}

#product-template-choice {
	border: 1px solid #e7e7e7;
	height: 260px;
	width: 245px;
}

#product-template-choice p {
	text-align: center;
	font-size: 12px;
	margin: 20px 2px -12px 2px;
}

/* product home section */
#product-home-section {
	margin: 5px 12px 12px 0px;
}

#product-home-section img{
	width: 340px;
	height: 150px;
}

#product-items {
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	height: 242px;
	width: 365px;
	margin-top: 15px;
	margin-left: 10px;
}

#product-items p{
	text-align: left;
	margin: 4px 2px 2px 9px;
}

#product-items p span {
	font-size: 14px;
	font-weight: bold;
}

#product-items .small {
	font-size: 11px;
}

/*mailform*/
.mailForm{
	margin: 56px auto 0px auto;
	width: 638px;
	font-size: 12px;
}

.head{
	padding-bottom: 29px;
	height: 40px;
	position: relative;
	font-size: 14px;
	font-weight: bold;
}

.inlineForm {
padding-left: 10px;
}

.inlineForm label {
margin-left: 20px;
text-align: right;
width: 58px;
}


.mailForm input {
height: 23px;
margin-bottom: 11px;
}

input[type="text"]{
border: solid 1px #d8d8d8;
background: #fff;
text-align: left;
}

.inlineForm div {
margin: 10px 0px 0px 0px;
width: 100%;
float: left;
}

select {
width: 332px;
height: 25px;
margin-bottom: 15px;
}

.textField {
margin-left: 80px;
float: left;
width: 500px;
height:120px;
border: solid 1px #d8d8d8;
}

/* end mailform*/

/*top bar hover effect*/
.navbar-nav{
	font: 13px "Open Sans Condensed", Arial, Helvetica, sans-serif;

}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
background: url(mnu-hover.png);
color: #fff;
padding: 13px 9px;
text-shadow: 1px 1px 3px #F79524;
height:45px;
}
/* end top bar hover effect*/

/*email subscription button*/
.email-submit-default{
	background:url(images/subscribe.png) no-repeat scroll 0px 0px transparent;
	width: 81px;
height: 35px;
border: none;
margin-top:-5px;
}

.email-submit-default:hover{
background: url(images/subscribe.png) no-repeat scroll -81px 0px transparent;
cursor: pointer;
}
/*email subscription button*/

/*product menu*/
.product-item{
	float: left;
height: 260px;
line-height: normal;
list-style: none outside none;
margin: 10px 5px 10px 10px;
padding: 0;
width: 360px;
border: #eee solid 1px;
border-radius: 10px;
}

/*bootstrap edtied*/
.nav-tabs {
	border:none;

}

.nav>li>a:hover, .nav>li>a:focus{

	background-color: transparent;
	border:none;
	padding: 10px 9px;

}

.nav-tabs>li>a {
	border:none;
}
/*end of bootstrap edited*/

/*product page layout css*/

.discountedText {
padding-left: 45px;
z-index: 2;
}
.main-title-txt {
font-size: 23px;
position: relative;
}


.productName {
display: block;
font-size: 16px;
position: absolute;
margin-top:-12px;
margin-left:15px;
}

.product-item img{
	position:relative;
	top:15px;
	left:15px;
	width:325px;
	height:150px;
}

.productSpecs{
	position:relative;
	top:8px;
	left:8px;
	font-size:11px;
}

.productSpecs p{
	margin-right:10px;
}
/*end product page layout css*/

/*price calculator style*/
.form-control-price{
	display: block;
	width: 95%;
	height: 30px;
	padding: 4px 8px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	position: relative;
	top: -6px;
}
/*end price calculator style*/

.carousel-caption{
	/*width: 100%;
	float: left;
	left: 0%;
	height: 50px;
	color: #fff;
	opacity: 0.7;
	background: #000;
	bottom: 0;*/
	width: 100%;
float: left;
left: 0%;
height: 50px;
color: #fff;
/*opacity: 0.7;
background: #000;*/
background:rgba(0,0,0,0.6);
bottom: 0;
}

.carousel-indicators {
bottom: 25px;
}

.carousel-indicators li {
	background-color: rgb(51, 51, 51);
	border:none;
}


.carousel-indicators .active {
	background-color: rgb(204, 51, 51);
}

.expand{
	width:135%;
	bottom:5px;
}

.carousel-control.right {
	background-image:none;
}

.carousel-control.left {
	background-image:none;
}

section.slide_thumb .btn_group {
margin-top: -11px !important;
}


section.slide_thumb .btn_group .btn_1 a {
-webkit-border-radius: 5px 5px 0px 0px !important;
-moz-border-radius: 5px 5px 0px 0px !important;
-ms-border-radius: 5px 5px 0px 0px !important;
-o-border-radius: 5px 5px 0px 0px !important;
border-radius: 5px 5px 0px 0px !important;

}

section.slide_thumb .image_carousel {
	top: 0px !important;
}


.form-group-login{
	margin-bottom: 15px;
}

#login {
	float:left;
	margin-left:-5px;
}

#register{
	/*position: relative;*/
	top: 22px;
	left: 35px;
}

#register p{
	font-size:13px;
}

.form-actions{
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: -5px;
}

.form-control {
  font-size: 12px;
}

section.slide_thumb .image_carousel img {
	padding: 6px;
}

#wrapper #menus #contact-menu{
	position: relative;
	right: 9px;
	top: 7px;
	margin-top:0px ;
	width:100% !important;
}

.nav-product li.active a{
	color:#3db4fe;
}

.grid{
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 15px;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
}
#register {
    float: left;
    left: 35px;
    margin-left: 30px;
    top: 22px;
    width: 405px;
}
.user img {
    margin-right: 8px;
    margin-top: -4px;
}
/*Pop up*/
.price_details{
	padding: 20px 10px 0;
}
.box_details{
	border-bottom: 3px solid #AAAAAA;
    border-top: 3px solid #AAAAAA;
    padding: 5px 5px 20px;
}
.price_details .title_h{
	color: #000000;
    display: block;
    font: bold 18px arial;
    margin: 5px 0 9px;
    width: 90%
}
.table_ctn{
	font-size: 14px;
}
.total_price{
	font: bold 18px arial;
}
.detail-title .td_img{
	border-top:1px solid #aaa;
	vertical-align: top;
	padding: 5px 0;
	margin-top: -1px;
}
.detail-title .td_img img{
}
.detail-title ul{
	margin-left: 25px;
	padding: 0px;
}
.bold_t{
	font-weight: bold;
}
.total_price{
	border-top: 1px solid #AAAAAA;
    padding-top: 15px;
}
.infor_popup{
	padding:10px 0;
}
.box_details .title_list{
	border-top:1px solid #aaa;
	vertical-align: top;
	width: 46.8%
}
.box_details .td_empty{
	border-top:1px solid #aaa;
}
.box_details .td_infor_price{
	padding:10px;
	padding-left:0px;
	border-top:1px solid #aaa;
}
.box_details .td_color_red{
	color: red;
}
.box_details .right_img{
	float: right;
}
/**/
.reg-form .but-yellow{
	margin-left: 0px;
}
.navbar-form .form-control{
	margin-top: 10px;
}
.checkboxText {
    display: block;
    margin-left: 85px !important;
    text-align: left;
    width: 350px;
}
.inlineForm .submitButton .but-yellow{
	margin-left: 76px;
}
.submitButton .checkbox {
    margin-left: 61px;
}
.productSpecs > p {
    padding: 0 0 0 8px;
    width: 93%;
}
.navbar-form .form-group{
	width: 100%;
}
.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-left: 5px;
    padding-right: 5px;
}

.suggestionsBox {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 38px;
    width: 201px;
    z-index: 9999;
}
.suggestionList {
    margin: 0px;
    padding: 0px;
}
.suggestionList ul li {
    list-style: none;
    border-bottom: 1px dotted #CCC;
    cursor: pointer;
    display: block;
    list-style: none outside none;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
}
.suggestionList ul li:hover {
    background-color: #207CCA;
    color:#fff;
}
.suggestionList ul li:hover a{
	color: white;
}
.suggestionList ul li a{
	display: block;
}
.suggestionList ul li:last-child{
	border-bottom-width: 0px;
}