.field_button span, .field_span {
    cursor: default;
    margin: 2px;
    padding: 5px 20px;
    color: #000;
    font-weight: bold;
    background-color: #daecf4;
    border: 1px solid#94c0d2;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.field_button span:hover{
    color: #fff;
    background-color: #000;
}