@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	text-align:center;
}

#div_wrapper {
	height: auto;
	padding-left:10px;
}
#div_wrapper #div_header {
	height: 100px;
	position:relative;
}
#div_wrapper #div_header #div_header_logo{
	height:100%;
	float:left;
	width: 300px;
	text-align:left !important;
}
#div_wrapper #div_header #div_header_info{
	height:100%;
	margin-left:305px;
}
#div_wrapper #div_header #div_header_info #div_account{
	height: 40px;
	padding-right:10px;
	text-align:right;
}
#div_wrapper #div_header #div_header_info #div_icon{
	height: 40px;
	padding-right:10px;
	text-align:right;
}
#div_wrapper #div_header_menu{
	height:25px;
	width:100%;
	margin-bottom:5px;
	text-align:left;
}
#div_wrapper #div_content {
	min-height: 400px;
    text-align: left;
}
#div_wrapper #div_footer {
	height: 100px;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}