@charset "utf-8";
/* CSS Document */
body, table {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}
#div_content{
	text-align: left;
}
#div_main_title{
	text-align: left !important;
	margin-top: 15px !important;
    padding-left: 20px;
}

#div_quick_search{
	height: 25px;
	text-align: left !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

#txt_quick_search{
	width: 300px;
}

.css_buttons{
	text-align:center;
}

ul.icons {
    height: 40px;
    list-style-type: none;
    margin: 0;
}
ul.icons li {
    cursor: pointer;
    float: right;
    list-style-type: none;
    margin: 0 0 0 5px;
}
ul.icons li a {
    color: inherit;
    text-decoration: none;
}
ul.icons li p {
    font-size: 11px;
    margin: 0;
    text-align: center;
}
ul.icons li img {
    border: medium none;
}

a.k-grid-AddNew {
    max-width:16px !important;
    min-height: 16px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/add.png") !important;
    background-repeat:no-repeat !important;
    border:none !important;
}

a.k-grid-ViewAll {
    max-width:16px !important;
    min-height: 16px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/all.png") !important;
    background-repeat:no-repeat !important;
    border:none !important;
}

a.k-grid-View {
    max-width:50px !important;
    min-height: 50px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/view.png") !important;
    background-repeat:no-repeat !important;
    border:none !important;
}
a.k-grid-View:hover{
	background-image:url("../images/icons/view_ov.png") !important;
}

a.k-grid-Edit {
    max-width:50px !important;
    min-height: 50px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/edit.png") !important;
    background-repeat:no-repeat;
    border:none !important;
}
a.k-grid-Edit:hover{
	background-image:url("../images/icons/edit_ov.png") !important;
}

a.k-grid-Delete {
    max-width:50px !important;
    min-height: 50px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/delete.png") !important;
    background-repeat:no-repeat;
    border:none !important;
}
a.k-grid-Delete:hover{
	background-image:url("../images/icons/delete_ov.png") !important;
}

a.k-grid-Attribute {
    max-width:16px !important;
    min-height: 16px !important;
    margin: 1px !important;
    background-color:transparent !important;
    background-image:url("../images/icons/attribute.png") !important;
    background-repeat:no-repeat;
    border:none !important;
}

.k-tooltip{
    top: -15px !important;
}

span.tooltips, span.tooltip1s {
    background-image: url("../images/icons/help.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 30px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    height: 20px;
    transition: box-shadow 0.3s ease 0s;
    width: 20px;
}
span.tooltips:hover, span.tooltip1s:hover {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease 0s;
}
.k-required {
    color: #990000;
    font-size: 11px;
}
/******************************************************** edit kendo css on admin page *******************************************/
input.k-textbox{
    width:300px;
}
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button{
    text-align: center;
    margin: 4% !important;
    min-width: 50px !important;
}
.k-border{
    border: solid 1px #94C0D2;
}
.change_status{
	cursor:pointer;
}
#tbl_single td, #tbl_single th{
	border-color:#fff!important;
}
#tbl_single td:first-child{
	background-color:#eee;
	padding-right:1%;
	line-height:30px;
	vertical-align:top;
}
.k-grid td{
	border-width:0 0 1px 1px!important;
	border-collapse:collapse!important;
}
.k-grid td:first-child{
	border-width:0 0 1px 0!important;
}
#div_main_title h3{
	float:left;
	width:70%;
}
#div_main_title{
	margin-bottom:15px;
	height:54px;
}
#div_quick_search{
	float:right;
	width:30%;
}
#txt_quick_search{
	width:97%;
}