@charset "utf-8";
@import url("kendo.blueopal.min.css");
/* CSS Document */
#div_wrapper #div_footer{
	border-top: 1px outset #94C0D2;
}
#tbl_single{
    border-collapse: collapse;
    border-color: #94C0D2;
    border-spacing: 0;
    border-width: 1px;
	border-style:solid;
    padding-bottom: 20px;
    padding-top: 20px;
	empty-cells:show;
	border-spacing:0;
    width: 100%;
}
#tbl_single td, #tbl_single th{
	border-width: 1px !important;
    border-collapse: collapse;
    border-color: #94C0D2;
	border-style:solid;
	padding: 3px;
}
#tbl_single td:first-child{
	width: 200px !important;
	text-align:right;
}
#tbl_single td:last-child{
	text-align:left;
}
#tbl_single td:nth-child(2) {
	width:1px !important;
}

.tbl_order{
    border-collapse: collapse;
    border-color: #94C0D2;
    border-spacing: 0;
    border-width: 1px;
    border-style:solid;
    padding-bottom: 20px;
    padding-top: 20px;
    empty-cells:show;
    border-spacing:0;
    width: 100%;
}
hr.price{
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    border-bottom-color: #94C0D2;
    border-spacing: 0;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    height: 1px;
}
.tbl_order td, .tbl_order th{
    border-width: 1px !important;
    border-collapse: collapse;
    border-color: #94C0D2;
    border-style:solid;
    padding: 3px;
}
.tbl_order th{
    background-color: #DAECF4;
}

.tbl_price{
    border: none;
    border-spacing: 0;
}
.tbl_price td{
    text-align:right;
}
.tbl_price td, .tbl_price th{
    border: none;
    padding: 3px;
}
