.des_ol_1 .firstTool .top-nav-right {
	background-image:none !important;
}

#sitemap .site-item a {
	cursor: pointer;
	text-decoration: none;
}

input.email-submit{
	height:22px;
}

input.email-submit:focus{
	border-color:#a47e3c;-webkit-box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;
}


.des_ol_1 .firstTool .top-nav-right .type5{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
}



.toolbar-section hr {
	height:0 !important;
	margin-top:-20px;
}

.des_ol_1 .firstTool {
background-color: #f8f8f8 !important;
border-top: 1px solid #a8a8a8 !important;
border-left: 1px solid #a8a8a8 !important;
border-right: 1px solid #a8a8a8 !important;
border-bottom: 1px solid #a8a8a8 !important;
padding-top: 3px !important;
}

.des_ol_1 .secondTool{
	border: 1px solid #a8a8a8 !important;
}

.des_ol_1 .secondTool .control .toolbar .toolbar-section-divider {
	border-left: 1px solid #ddd !important;
}

.des_ol_1 .firstTool .top-nav-right .type5 {
	border: 1px solid #aaa;
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );
	color: #666;
}

.back_front {
	left: 175px !important;
}

.back_front .button_txt {
	border: 1px solid #aaa !important;
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(226,226,226,1))) !important;
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ) !important;
	color: #666;
	border-radius:0px !important;
}

.back_front .different:hover {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1) !important;
	background: rgb(254,254,254) !important;
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(226,226,226,1))) !important;
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ) !important;
	color: #666 !important;
}